<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MafiaIIRootPath" value="E:\Games\Steam\steamapps\common\Mafia II Definitive Edition" />
    <add key="DesktopPath" value="C:\Users\Mettak\Desktop" />
  </appSettings>
</configuration>